* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #404044;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: inline-block;
    margin-left: 40px;
    font-size: 30px;
}

.navbar {
    background-color: #ff5c33;
    text-align: left;
    width: 100%;
    height: 70px;
    padding: 0px;
    margin: 0px;
    position: fixed;
    z-index: 9;
    box-shadow: 1px 1px 7px 3px #282835;
}

.logo {
    background-color: transparent;
    width: 176px;
    height: 60px;
    margin: 7px 0px 3px 40px;
    float: left;
}
.logo-image {
    width: 200px;
    height: 50px;
    margin: 5px 0px;
}

#icon {
    display: none;
}

#dropd {
    background-color: #e6e6e6;
    width: 250px;
    height: 300px;
    z-index: 3;
    padding-top: 70px;
    border: 1px solid #282835;
    position: fixed;
    display: inline-block;
    margin-top: 70px;
}

.dropd ul li {
    padding: 40px;
}

.navbar ul {
    background-color: #f2f2f2;
    height: 40px;
    width: auto;
    float: right;
    padding: 0px;
    margin: 15px 40px;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    width: 120px;
    margin: 5px 3px;
    height: 30px;
    padding: 5px;
    background-color: #ff5c33;
    color: #f2f2f2;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.navbar ul li:hover {
    background-color: #000000;
    color: #ff5c33;
    transition: 0.3s;
}

#word {
    background-image: url("images/baloon.png");
    opacity: 1;
    height: 100vh;
    width: 50vw;
    margin: 0px auto;
    text-align: center;
    padding: 20% 0px;
    position: relative;
    display: inline-block;
    box-shadow: 2px 4px 6px 4px #282835;
}

.lander {
    font-size: 50px;
    font-weight: bolder;
    font-family: sacramento;
    color: #000000;
}

.scroll {
    width: 60px;
    height: 60px;
    background-color:  #ff5c33;
    color: whitesmoke;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    float: right;
    right: 30px;
    bottom: 40px;
    border: 2px solid whitesmoke;
    box-shadow: 2px 3px 4px #404040;
}

h1 {
    font-size: 50px;
    font-family: sacramento;
    font-weight: bolder;
    text-shadow: 2px 5px 4px #404040;
}

.writer {
    background-color: #f2f2f2;
    color: #404040;
    width: 500px;
    height: auto;
    margin: 0px auto;
    padding: 25px;
    font-size: 18px;
    text-align: center;
    box-shadow:  2px 4px 6px 4px #404040;
}

.self-img {
    width: 236px;
    height: 500px;
    margin: 0px auto;
    box-shadow: 2px 4px 6px 4px  #282835;
}

.conta1 {
    background-color: #f2f2f2;
    width: 70%;
    height: 300px;
    padding: 30px;
    font-size: 18px;
    margin: 0px auto;
    box-shadow: 2px 4px 6px 4px #282835;
}

#projects {
    background-color: #ffffff;
    height: auto;
    width: 90%;
    margin: 0px auto;
    padding: 15px;
    font-size: 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#projects .frame1 p {
    text-align: left;
    padding: 20px 10px;
}

.frame1 {
    background-color: #f2f2f2;
    width: 22%;
    height: 410px;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    box-shadow:  2px 4px 6px 4px #282835;
    word-break: break-all;
}

.frame {
    background-color: red;
    width: 95%;
    height: 230px;
    border-radius: 10px;
    margin: 8px auto;
}

.site-img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.site-img:hover {
    border: #ff8566 solid 6px;
    transition: .3s;
}

#contacts {
    background-color: #f2f2f2;
    width: 70%;
    height: auto;  
    margin: 0px auto;
    box-shadow: 2px 4px 6px 4px #282835;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px auto;
}

.smedia1, .smedia2, .smedia3, .smedia4, .smedia5 {
    background-color:#e6e6e6;
    color: #242429;
    width: 70px;
    height: 70px;
    margin: 15px;
    border-radius: 50%;
    display: block;
    position: relative;
    font-size: 45px;
    padding: 10px;
}

.smedia1:active {
    background-color: black;
    color: white;
}

.smedia2:active {
    background-color: #005ce6;
    color: floralwhite;
}
.smedia3:active {
    background-color: floralwhite;
    color: blue;
}
.smedia4:active {
    background-color: #4d94ff;
    color: floralwhite;
}

.smedia5:active {
    background-color: floralwhite;
    color: #00b300;
}




#services {
    background-color: #ffffff;
    height: auto;
    width: 90%;
    margin: 0px auto;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.frame2 {
    background-color: #f2f2f2;
    width: 25%;
    height: 250px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    padding-top: 25px;
    box-shadow: 2px 4px 6px 4px #282835;
}

.phoneimg {
    width: 200px;
    height: 200px;
    margin: auto;
}

.phoneimg:hover {
    transform: scale(1.24);
    transition: 0.6s;
}

.footer {
    background-color: #ff5c33;
    color: floralwhite;
    width: 100%;
    height: 70px;
    padding: 5px;
}

#services .frame2 .skills1 {
    font-size: 200px;
    color: #ff5c33;
    background-color: #ffffff;
}

#services .frame2 .skills2 {
    font-size: 200px;
    color: #ffffff;
    background-color: #3333cc;
}

#services .frame2 .skills3 {
    font-size: 200px;
    color: #1a75ff;
    background-color: #ffffff;
}

#services .frame2 .skills4 {
    font-size: 200px;
    color: green;
    background-color: #ffffff;
}

#services .frame2 .skills5 {
    font-size: 200px;
    color: #ffffff;
    background-color: red;
}








            @media screen and (max-width: 400px) {

                *{
                    box-sizing: border-box;
                }

                h1 {
                    font-size: 30px;
                }

                .header {
                    margin-left: 10px;
                    font-size: 25px;
                }

                #icon {
                    width: auto;
                    height: auto;
                    background-color: floralwhite;
                    display: inline;
                    z-index: 9;
                    float: right;
                    margin: 25px 10px;
                }

                .logo {
                    margin: 10px 0px 10px 3px;
                }

                .logo-image {
                    width: 200px;
                    height: 50px;
                }

                #word {
                    display: inline-block;
                    width: 60vw;
                }

                #dropd {
                    background-color: #e6e6e6;
                    color: #282835;
                    width: 60vw;
                    height: 70vh;
                    z-index: 3;
                    overflow: auto;
                    padding-top: 20px;
                    display: inline;
                    border: 1px solid #242429;
                    position: fixed;
                    right: 0px;
                    text-align: left;
                }

                #dropd ul li {
                    padding: 10px 3px;
                }
                                
                .navbar ul {
                    display: none;
                }

                #word {
                    height: 100vh;
                    width: 80vw;
                    padding: 65% 0px;
                }

                .lander {
                    font-size: 40px;
                    font-weight: bold;
                }

                .scroll {
                    width: 50px;
                    height: 50px;
                    right: 5px;
                    bottom: 30px;
                }

                .writer h3 {
                    font-size: 17px;
                }

                .writer {
                    width: 80%;
                    height: auto;
                    font-size: 12px;
                    padding: 15px;
                }


                .self-img {
                    width: 188Px;
                    height: 400px;
                }

                #projects {
                    flex-direction: column;
                }

                #projects .frame1 p {
                    font-size: 12px;
                    padding: 15px 8px;
                }

                .frame1 {
                    width: 90%;
                }

                #services{
                    width: 90%;
                    margin: 0px auto;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                .frame {
                    width: 95%;
                    height: 200px;
                    margin: 8px auto;
                    border-radius: 7px;
                }

                .frame2 {
                    width: 90%;
                    height: auto;
                    margin: 8px auto;
                    border-radius: 7px;
                    text-align: center;
                    padding: 15px;
                }

                .phoneimg {
                    width: 150px;
                    height: 150px;
                }

                .phoneimg :hover {
                    transform: scale(1.50);
                }

                .conta1 {
                    width: 80%;
                    padding: 15px;
                    font-size: 12px;
                    height: auto;
                }


                #contacts {
                    width: 30%;
                    height: auto;
                    flex-direction: column;
                    justify-content: center;
                }

                .smedia1, .smedia2, .smedia3, .smedia4, .smedia5 {
                    width: 50px;
                    height: 50px;
                    margin: 15px auto;
                    font-size: 30px;
                    padding: 10px;
                }

                #services .frame2 .skills1{
                    font-size: 150px;
                }

                #services .frame2 .skills2{
                    font-size: 150px;
                }

                #services .frame2 .skills3{
                    font-size: 150px;
                }

                #services .frame2 .skills4{
                    font-size: 150px;
                }

                #services .frame2 .skills5{
                    font-size: 150px;
                }



            }