* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #404044;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: inline-block;
    margin-left: 40px;
    font-size: 30px;
}

.navbar {
    background-color: #262626;
    text-align: left;
    width: 100%;
    height: 70px;
    padding: 0px;
    margin: 0px;
    position: fixed;
    z-index: 9;
    box-shadow: 1px 1px 2px #282835;
}

.img-logo {
    background-color: transparent;
    width: 55px;
    height: 55px;
    display: inline;
    padding: 0px;
    position: relative;
    bottom: 16px;
    margin-left: 30px;
    z-index: 2;
}

.logo-image1 {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.logo {
    background-color: transparent;
    width: 176px;
    height: 60px;
    margin: 0px;
    display: inline;
    position: relative;
    right: 10px;
    z-index: 1;
}

.logo-image {
    width: 200px;
    height: 50px;
    margin: 15px 0px;
}

#icon {
    display: none;
}

.navbar ul {
    background-color: #f2f2f2;
    height: 40px;
    width: auto;
    float: right;
    padding: 0px;
    margin: 15px 40px;
    display: inline;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    width: 120px;
    margin: 5px 3px;
    height: 30px;
    padding: 5px;
    background-color: #262626;
    color: #f2f2f2;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.navbar ul li:hover {
    background-color: #f2f2f244;
    color: #262626;
    border: dashed #262626 1px;
    transition: 0.3s;
}

#word {
    background-image: url("images/umb.jpg");
    background-repeat: no-repeat;
    opacity: 1;
    height: 100vh;
    width: 50vw;
    margin: 0px auto;
    text-align: center;
    padding: 20% 0px;
    position: relative;
    display: inline-block;
    border: 1px solid #999999;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #666666;
}

.lander {
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: #262626;
}

.scroll {
    width: 60px;
    height: 60px;
    background-color: #262626;
    color: whitesmoke;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    float: right;
    right: 30px;
    bottom: 40px;
    border: 2px solid whitesmoke;
    box-shadow: 1px 1px 1px 1px #282835;
}

h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-shadow: 1px 3px 2px #666666;
}

.writer {
    background-color: #f2f2f244;
    color: #404040;
    width: 60%;
    height: auto;
    margin: 40px auto;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #666666;
}

.self-img {
    width: 236px;
    height: 500px;
    margin: 10px auto;
    border: 1px solid #999999;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #666666;
}

.conta1 {
    background-color: #f2f2f244;
    width: 60%;
    height: auto;
    padding: 20px;
    font-size: 15px;
    margin: 10px auto;
    border: 1px solid #999999;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #666666;
}

#projects {
    background-color: #ffffff;
    height: auto;
    width: 90%;
    margin: 0px auto;
    padding: 5px 15px;
    font-size: 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#projects .frame1 p {
    text-align: left;
    padding: 20px 10px 10px;
    font-size: 12px;
}

.frame1 {
    background-color: #f2f2f244;
    width: 250px;
    height: auto;
    border: 1px solid #999999;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 1px 1px 1px 1px #666666;
}

.frame1 a {
    word-break: break-all;
}

.frame {
    background-color: white;
    width: 95%;
    height: 230px;
    border-radius: 10px;
    margin: 8px auto;
}

.site-img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.site-img:hover {
    border: #f2f2f2 solid 6px;
    transition: .3s;
}

#contacts {
    background-color: #f2f2f244;
    width: 70%;
    height: auto;
    margin: 0px auto;
    border: 1px solid #999999;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #666666;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px auto;
}

.smedia1,
.smedia2,
.smedia3,
.smedia4,
.smedia5 {
    background-color: #f2f2f266;
    color: #242429;
    width: 70px;
    height: 70px;
    margin: 15px;
    border-radius: 50%;
    display: block;
    position: relative;
    font-size: 45px;
    padding: 10px;
}

.smedia6 {
    background-color: #f2f2f266;
    color: #242429;
    width: 70px;
    height: 70px;
    margin: 15px;
    border-radius: 50%;
    display: block;
    position: relative;
    font-size: 45px;
    padding: 10px;
    display: none;
}

.smedia1:hover {
    background-color: black;
    color: #ffffff;
}

.smedia2:hover {
    background-color: #005ce6;
    color: #ffffff;
}

.smedia3:hover {
    background-color: #ffffff;
    color: red;
}

.smedia4:hover {
    background-color: #4d94ff;
    color: #ffffff;
}

.smedia5:hover {
    background-color: #ffffff;
    color: #00b300;
}

.smedia6:hover {
    background-color: #ffffff;
    color: #ff3300;
}

.resume {
    background-color: #404044;
    color: white;
    width: 150px;
    height: auto;
    padding: 15px 10px;
    line-height: 2px;
    font-size: 14px;
    margin: 0px auto;
    padding: 1px;
    border-radius: 3px;
    animation-name: resume;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.resume:hover {
    background: white;
    color: #404044;
}

.resume a {
    text-decoration: none;
    color: inherit;
}

.footer {
    background-color: #262626;
    color: floralwhite;
    width: 100%;
    height: 70px;
    padding: 5px;
}

.skills {
    background-color: #ffffff;
    width: 80%;
    height: auto;
    margin: 20px auto;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills .pack {
    background-color: #ffffff;
    width: 30%;
    height: auto;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.skills .pack .package {
    background-color: #ffffff;
    width: 50%;
    height: 50px;
    position: relative;
    top: 30%;
    border: 1px solid black;
}

.skills .pack .package h1 {
    font-size: 20px;
}

.skills .pack .packager {
    background-color: #ffffff;
    width: 42%;
    height: 120px;
    border: 1px solid black;
    z-index: 2;
}

.skimage {
    height: 99.9%;
    width: 100%;
}

    @media screen and (max-width: 760px) {
        * {
            box-sizing: border-box;
        }
        .navbar ul {
            display: none;
        }
        #icon {
            display: inline;
            float: right;
            width: auto;
            height: 22px;
            background-color: #262626;
            color: floralwhite;
            margin: 25px 20px;
        }
        #dropd {
            background-color: floralwhite;
            width: 60vw;
            height: 70vh;
            z-index: 3;
            overflow: auto;
            padding-top: 70px;
            display: inline;
            border: 1px solid #242429;
            position: fixed;
            right: 0px;
            text-align: left;
            box-shadow: 1px 1px 4px #282835;
        }
        #dropd ul a {
            color: tomato;
            text-decoration: none;
        }
        #dropd ul a:hover {
            color: red;
            text-decoration: underline;
        } 
        #dropd ul li {
            list-style-type: none;
            padding: 10px 3px;
        }
        #projects {
            padding: 5px;
        }
        #projects .frame1 {
            width: 35%;
        }
        #contacts {
            width: 70%;
        }
        .smedia1,
        .smedia2,
        .smedia3,
        .smedia4,
        .smedia5 {
            width: 50px;
            height: 50px;
            font-size: 30px;
        }
        .skills .pack {
            width: 40%;
        }
        .skills .pack .package {
            width: 45%;
        }
        .skills .pack .packager {
            width: 53%;
        }
    }

            @media screen and (max-width: 415px) {
            * {
                box-sizing: border-box;
            }
            h1 {
                font-size: 30px;
            }
            .header {
                margin-left: 10px;
                font-size: 25px;
            }
            #icon {
                width: auto;
                height: 22px;
                background-color: #262626;
                color: floralwhite;
                display: inline;
                z-index: 9;
                float: right;
                margin: 25px 10px;
            }
            .img-logo {
                margin-left: 6px;
            }
            .logo-image1 {
                width: 45px;
                height: 45px;
                margin: 0px 0px 5px 0px;
            }
            .logo {
                margin: 6px 0px 10px;
                right: 12px;
            }
            .logo-image {
                width: 140px;
                height: 50px;
            }
            #word {
                display: inline-block;
                width: 50vw;
            }
            #dropd {
                width: 60vw;
                height: 70vh;
                z-index: 3;
                overflow: auto;
                padding-top: 70px;
                display: inline;
                position: fixed;
                right: 0px;
                text-align: left;
            }
            #dropd ul li {
                padding: 10px 3px;
            }
            .navbar ul {
                display: none;
            }
            #word {
                height: 100vh;
                width: 80vw;
                padding: 65% 0px;
            }
            .lander {
                font-size: 40px;
                font-weight: bold;
            }
            .scroll {
                width: 50px;
                height: 50px;
                right: 5px;
                bottom: 30px;
            }
            .writer h3 {
                font-size: 17px;
            }
            .writer {
                width: 80%;
                height: auto;
                font-size: 12px;
                padding: 15px;
            }
            .self-img {
                width: 188Px;
                height: 400px;
            }
            #projects .frame1 {
                flex-direction: column;
                width: 80%;
                height: auto;
            }
            #projects .frame1 p {
                font-size: 12px;
                padding: 15px 8px;
            }
            #services {
                width: 90%;
                margin: 0px auto;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
            }
            .frame {
                width: 95%;
                height: 200px;
                margin: 8px auto;
                border-radius: 7px;
            }
            .skills {
                background-color: #ffffff;
                width: 99%;
                margin: 20px auto;
                padding: 0px 10px;
            }
            .skills .pack {
                background-color: #ffffff;
                padding: 5px;
                width: 48%;
                height: auto;
                margin: 7px 0px;
            }
            .skills .pack .package {
                width: 43%;
                height: 35px;
                top: 18px;
            }
            .skills .pack .package h1 {
                font-size: 11px;
                text-shadow: 0px 0px black;
                padding: 0px;
            }
            .skills .pack .packager {
                width: 53%;
                height: 70px;
            }
            .conta1 {
                width: 80%;
                padding: 10px;
                font-size: 12px;
                height: auto;
            }
            #contacts {
                width: 30%;
                height: auto;
                flex-direction: column;
                justify-content: center;
            }
            .smedia1,
            .smedia2,
            .smedia3,
            .smedia4,
            .smedia5 {
                width: 50px;
                height: 50px;
                margin: 15px auto;
                font-size: 30px;
                padding: 10px;
            }
            .smedia6 {
                width: 50px;
                height: 50px;
                margin: 15px auto;
                font-size: 30px;
                padding: 10px;
                display: inline-block;
            }
        }

            @media screen and (max-width: 240px) {
                .logo {
                    display: none;
                }
                .img-logo {
                    bottom: 0px;
                    top: 14px;
                }
            }